<div class="top-bar">
  <div class="container">
    <nav>
      <ul id="menu-top-bar-left" class="nav nav-inline pull-left animate-dropdown flip">
        <li class="menu-item animate-dropdown"><a title="Welcome to Myan Bake Store" href="#">Welcome to Myan Bake Store</a></li>
      </ul>
    </nav>

    <nav>
      <ul id="menu-top-bar-right" class="nav nav-inline pull-right animate-dropdown flip">
        <li class="menu-item animate-dropdown"><a title="Store Locator" href="#"><i class="ec ec-map-pointer"></i>Store
            Locator</a></li>
        <li class="menu-item animate-dropdown"><a title="Track Your Order" routerLink="/confirm"><i
              class="ec ec-transport"></i>Track Your Order</a></li>
        <li class="menu-item animate-dropdown"><a title="Shop" routerLink="/shop"><i
              class="ec ec-shopping-bag"></i>Shop</a></li>
        <li class="menu-item animate-dropdown"><a title="My Account" routerLink="/login"><i class="ec ec-user"></i>My
            Account</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="single-product">
  <div id="page" class="hfeed site">
    <a class="skip-link screen-reader-text" href="#site-navigation">Skip to navigation</a>
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
    <header id="masthead" class="site-header header-v2">
      <div class="container">
        <div class="row">
          <div class="header-logo">
            <a routerLink="/" class="header-logo-link">
              <img src="../../assets/images/logo.png" /> 
            </a>
          </div>
          <div class="primary-nav animate-dropdown">
            <div class="clearfix">
              <button class="navbar-toggler hidden-sm-up pull-right flip" type="button" data- toggle="collapse"
                data-target="#default-header">
                &#9776;
              </button>
            </div>

            <div class="collapse navbar-toggleable-xs" id="default-header">
              <nav>
                <ul id="menu-main-menu" class="nav nav-inline yamm">
                  <li class="menu-item animate-dropdown"><a title="Home" routerLink="/">Home</a></li>
                  <li class="menu-item animate-dropdown"><a title="About Us" routerLink="/about">About Us</a></li>
                  <li class="menu-item animate-dropdown"><a title="Blog" routerLink="/training">Training</a></li>
                  <li class="yamm-fw menu-item menu-item-has-children animate-dropdown dropdown">
                    <a title="Pages" href="#" data-toggle="dropdown" class="dropdown-toggle"
                      aria-haspopup="true">Pages</a>
                    <ul role="menu" class=" dropdown-menu">
                      <li class="menu-item animate-dropdown">
                        <div class="yamm-content" style="display:inline-block; width: 100%;">
                          <div class="row">
                            <div class="wpb_column vc_column_container col-sm-4">
                              <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                  <div class="vc_wp_custommenu wpb_content_element">
                                    <div class="widget widget_nav_menu">
                                      <div class="menu-pages-menu-1-container">
                                        <ul id="menu-pages-menu-1" class="menu">
                                          <li class="nav-title menu-item"><a href="#">Home &#038;Static Pages</a></li>
                                          <li class="menu-item"><a routerLink="/">Home</a></li>
                                          <li class="menu-item"><a routerLink="/about">About</a></li>
                                          <li class="menu-item"><a routerLink="/contact">Contact</a></li>
                                          <li class="menu-item"><a routerLink="/faq">FAQ</a></li>
                                          <li class="menu-item"><a routerLink="/storedirectory">Store Directory</a></li>
                                          <li class="menu-item"><a routerLink="/terms">Terms and Conditions</a></li>
                                          <li class="menu-item"><a routerLink="/error">404</a></li>
                                          <li class="nav-title menu-item"><a href="#">Product Categories</a></li>
                                          <li class="menu-item"><a routerLink="/categories">Categories List</a></li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="wpb_column vc_column_container col-sm-4">
                              <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                  <div class="vc_wp_custommenu wpb_content_element">
                                    <div class="widget widget_nav_menu">
                                      <div class="menu-pages-menu-2-container">
                                        <ul id="menu-pages-menu-2" class="menu">
                                          <li class="nav-title menu-item"><a href="#">Shop Pages</a></li>
                                          <li class="menu-item"><a routerLink="/shop">Shop</a></li>
                                          <li class="nav-title menu-item"><a routerLink="/itemdetail">Single Product
                                              Pages</a></li>
                                          <li class="menu-item"><a routerLink="/itemdetail">Single Product</a>
                                          </li>
                                          <li class="nav-title menu-item"><a href="#">Ecommerce Pages</a></li>
                                          <li class="menu-item"><a routerLink="/shop">Shop</a></li>
                                          <li class="menu-item"><a routerLink="/cart">Cart</a></li>
                                          <li class="menu-item"><a routerLink="/checkout">Checkout</a></li>
                                          <li class="menu-item"><a routerLink="/login">My Account</a></li>
                                          <!-- <li class="menu-item"><a routerLink="/compare">Compare</a></li> -->
                                          <li class="menu-item"><a routerLink="/wishlist">Wishlist</a></li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item"><a title="Contact Us" routerLink="/contact">Contact Us</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="header-support-info">
            <div class="media">
              <span class="media-left support-icon media-middle"><i class="ec ec-support"></i></span>
              <div class="media-body">
                <span class="support-number"><strong>Support</strong> (+800) 856 800 604</span><br />
                <span class="support-email">Email: info@myanbake.com</span>
              </div>
            </div>
          </div>

        </div><!-- /.row -->
      </div>
    </header><!-- #masthead -->
    <nav class="navbar navbar-primary navbar-full">
      <div class="container">
        <ul class="nav navbar-nav departments-menu animate-dropdown">
          <li class="nav-item dropdown ">

            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="departments-menu-toggle">Shop by
              Categories</a>
            <ul id="menu-vertical-menu" class="dropdown-menu yamm departments-menu-dropdown">
              <li class="highlight menu-item animate-dropdown active"><a title="Value of the Day"
                  routerLink="/itemlist">Value of the Day</a></li>
              <li class="highlight menu-item animate-dropdown"><a title="Top 100 Offers" routerLink="/brand">Top 100 Offers</a></li>
              <li class="highlight menu-item animate-dropdown"><a title="New Arrivals" routerLink="/treading">New
                  Arrivals</a></li>
              <li class="yamm-tfw menu-item menu-item-has-children animate-dropdown dropdown"
                *ngFor="let category of categories">
                <a title="{{category.name}}" data-hover="dropdown" routerLink="#" data-toggle="dropdown"
                  class="dropdown-toggle" aria-haspopup="true">{{category.name}}</a>
                <ul role="menu" class=" dropdown-menu">
                  <li class="menu-item animate-dropdown menu-item-object-static_block">
                    <div class="yamm-content">
                      <div class="row bg-yamm-content bg-yamm-content-bottom bg-yamm-content-right">
                        <div class="col-sm-12">
                          <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                              <div class="wpb_single_image wpb_content_element vc_align_left">
                                <figure class="wpb_wrapper vc_figure">
                                  <div class="vc_single_image-wrapper vc_box_border_grey">
                                      <img width="540" height="460" src="../../assets/images/cake-baking-1.png" class="vc_single_image-img attachment-full" alt="megamenu-2"/>
                                  </div>
                                </figure>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                              <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                  <ul>
                                    <li class="nav-title"><em><u>{{category.name}}</u></em></li>
                                    <li><a routerLink="/shop"
                                        *ngFor="let subcategory of category.subcategories"><b>{{subcategory.name}}</b></a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="yamm-tfw menu-item menu-item-has-children animate-dropdown dropdown"data-hover-pane="true">
                  <a title="Click to see more categoies" data-hover="dropdown"  routerLink="/categories"><strong>More Categories </strong></a>
              </li>
            </ul>
          </li>
        </ul>
        <form class="navbar-search" method="get" action="http://transvelo.github.io/">
          <label class="sr-only screen-reader-text" for="search">Search for:</label>
          <div class="input-group">
            <input type="text" id="search" class="form-control search-field" dir="ltr" value="" name="s"
              placeholder="Search for products" />
            <div class="input-group-addon search-categories">
              <select name='product_cat' id='product_cat' class='postform resizeselect'>
                <option value='0' selected='selected'>All Categories</option>
                <option *ngFor="let category of categories" class="level-0" value="{{category.id}}">{{category.name}}
                </option>
              </select>
            </div>
            <div class="input-group-btn">
              <input type="hidden" id="search-param" name="post_type" value="product" />
              <button type="submit" class="btn"><i class="ec ec-search"></i></button>
            </div>
          </div>
        </form>
        <ul class="navbar-mini-cart navbar-nav animate-dropdown nav pull-right flip">
          <li class="nav-item dropdown">
            <a routerLink="#" class="nav-link" data-toggle="dropdown">
              <i class="ec ec-shopping-bag"></i>
              <span class="cart-items-count count">{{carts.length !== 0 ? carts.length : '' }}</span>
              <!-- <span class="cart-items-count count">4</span>
              <span class="cart-items-total-price total-price"><span class="amount">&#36;1,215.00</span></span> -->
            </a>
            <ul class="dropdown-menu dropdown-menu-mini-cart" *ngIf="carts.length>0">
              <li>
                <div class="widget_shopping_cart_content">

                  <ul class="cart_list product_list_widget ">


                    <li class="mini_cart_item"*ngFor="let cart of carts ;index as i">
                        <a class="remove"(click)="removeItem(cart, i)"><i class="far fa-times-circle"></i></a>
                      <a routerLink="/itemdetail">
                        <img class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image"
                          src="{{cart.image}}" alt="">{{cart.name}}
                      </a>

                      <span class="quantity">{{cart.quantity}}× <span class="amount">{{cart.quantity*cart.price}}</span></span>
                    </li>                    
                  </ul><!-- end product list -->
                  <p class="total"><strong>Subtotal:</strong> <span class="amount">£969.98</span></p>
                  <p class="buttons">
                    <a class="button wc-forward" routerLink="/cart">View Cart</a>
                    <a class="button checkout wc-forward" routerLink="/checkout">Checkout</a>
                  </p>
                </div>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="navbar-wishlist nav navbar-nav pull-right flip">
          <li class="nav-item">
            <a routerLink="/wishlist" class="nav-link"><i class="ec ec-favorites"></i></a>
          </li>
        </ul>
        <!-- <ul class="navbar-compare nav navbar-nav pull-right flip">
          <li class="nav-item">
            <a routerLink="/compare" class="nav-link"><i class="ec ec-compare"></i></a>
          </li>
        </ul> -->
      </div>
    </nav>
  </div>
</div>