<footer id="colophon" class="site-footer">
  <div class="footer-bottom-widgets">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-7 col-md-push-5">
          <div class="columns">
            <aside id="nav_menu-2" class="widget clearfix widget_nav_menu">
              <div class="body">
                <h4 class="widget-title">Find It Fast</h4>
                <div class="menu-footer-menu-1-container">
                  <ul id="menu-footer-menu-1" class="menu">
                    <li class="menu-item"><a routerLink="/itemdetail">Laptops &#038; Computers</a></li>
                    <li class="menu-item"><a routerLink="/itemdetail">Cameras &#038; Photography</a></li>
                    <li class="menu-item"><a routerLink="/itemdetail">Smart Phones &#038; Tablets</a></li>
                    <li class="menu-item"><a routerLink="/itemdetail">Video Games &#038; Consoles</a></li>
                    <li class="menu-item"><a routerLink="/itemdetail">TV &#038; Audio</a></li>
                    <li class="menu-item"><a routerLink="/itemdetail">Gadgets</a></li>
                    <li class="menu-item "><a routerLink="/itemdetail">Car Electronic &#038; GPS</a></li>
                  </ul>
                </div>
              </div>
            </aside>
          </div><!-- /.columns -->

          <div class="columns">
            <aside id="nav_menu-3" class="widget clearfix widget_nav_menu">
              <div class="body">
                <h4 class="widget-title">&nbsp;</h4>
                <div class="menu-footer-menu-2-container">
                  <ul id="menu-footer-menu-2" class="menu">
                    <li class="menu-item"><a routerLink="/itemdetail">Printers &#038; Ink</a></li>
                    <li class="menu-item "><a routerLink="/itemdetail">Software</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2742"><a
                        routerLink="/itemdetail">Office Supplies</a></li>
                    <li class="menu-item "><a routerLink="/itemdetail">Computer Components</a></li>
                  </ul>
                </div>
              </div>
            </aside>
          </div><!-- /.columns -->

          <div class="columns">
            <aside id="nav_menu-4" class="widget clearfix widget_nav_menu">
              <div class="body">
                <h4 class="widget-title">Customer Care</h4>
                <div class="menu-footer-menu-3-container">
                  <ul id="menu-footer-menu-3" class="menu">
                    <li class="menu-item"><a routerLink="/register">My Account</a></li>
                    <li class="menu-item"><a routerLink="/confirm">Track your Order</a></li>
                    <li class="menu-item"><a routerLink="/wishlist">Wishlist</a></li>
                    <li class="menu-item"><a routerLink="/itemdetail">Customer Service</a></li>
                    <li class="menu-item"><a routerLink="/itemdetail">Returns/Exchange</a></li>
                    <li class="menu-item"><a routerLink="/faq">FAQs</a></li>
                    <li class="menu-item"><a routerLink="/itemdetail">Product Support</a></li>
                  </ul>
                </div>
              </div>
            </aside>
          </div><!-- /.columns -->

        </div><!-- /.col -->

        <div class="footer-contact col-xs-12 col-sm-12 col-md-5 col-md-pull-7">
          <div class="footer-logo">
            <img src="./assets/images/logo.png" />
          </div><!-- /.footer-contact -->

          <div class="footer-call-us">
            <div class="media">
              <span class="media-left call-us-icon media-middle"><i class="ec ec-support" [ngStyle]="{'color': '#373a3c'}"></i></span>
              <div class="media-body">
                <span class="call-us-text">Got Questions ? Call us 24/7!</span>
                <span class="call-us-number">(800) 8001-8588, (0600) 874 548</span>
              </div>
            </div>
          </div><!-- /.footer-call-us -->


          <div class="footer-address">
            <strong class="footer-address-title">Contact Info</strong>
            <address>Room 204, No.39-B, Sapal Street, Mingala Taungnyunt,<br> Yangon, Myanmar</address>
          </div>

          <!-- <div class="footer-social-icons">
            <ul class="social-icons list-unstyled">
              <li><a class="fa fa-facebook" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
              <li><a class="fa fa-twitter" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
              <li><a class="fa fa-pinterest" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
              <li><a class="fa fa-linkedin" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
              <li><a class="fa fa-google-plus" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
              <li><a class="fa fa-tumblr" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
              <li><a class="fa fa-instagram" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
              <li><a class="fa fa-youtube" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
              <li><a class="fa fa-rss" href="#"></a></li>
            </ul>
          </div> -->
        </div>

      </div>
    </div>
  </div>

  <div class="copyright-bar">
    <div class="container">
      <div class="pull-left flip copyright">&copy; <a href="#">Myan Bake</a> -
        All Rights Reserved</div>
      <div class="pull-right flip payment">
        <div class="footer-payment-logo">
          <ul class="cash-card card-inline">
            <li class="card-item"><img src="assets/images/footer/payment-icon/2.png" alt="" width="52"></li>
            <li class="card-item"><img src="assets/images/footer/payment-icon/3.png" alt="" width="52"></li>
            <li class="card-item"><img src="assets/images/footer/payment-icon/5.png" alt="" width="52"></li>
          </ul>
        </div><!-- /.payment-methods -->
      </div>
    </div><!-- /.container -->
  </div><!-- /.copyright-bar -->
</footer><!-- #colophon -->


<!-- For demo purposes – can be removed on production -->
<div id="config" class="config">
  <div id="config_wrapper">
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/tether.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="assets/js/echo.min.js"></script>
    <script type="text/javascript" src="assets/js/wow.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="assets/js/electro.js"></script>
    <script src="assets/js/switchstylesheet.js"></script>
    <script>
      (function ($) {
        $(document).ready(function () {
          $(".changecolor").switchstylesheet({ seperator: "color" });
          $('.show-theme-options').click(function () {
            $(this).parent().toggleClass('open');
            return false;
          });

          $('#home-pages').on('change', function () {
            $.ajax({
              url: $('#home-pages option:selected').val(),
              success: function (res) {
                location.href = $('#home-pages option:selected').val();
              }
            });
          });

          $('#demo-pages').on('change', function () {
            $.ajax({
              url: $('#demo-pages option:selected').val(),
              success: function (res) {
                location.href = $('#demo-pages option:selected').val();
              }
            });
          });

          $('#header-style').on('change', function () {
            $.ajax({
              url: $('#header-style option:selected').val(),
              success: function (res) {
                location.href = $('#header-style option:selected').val();
              }
            });
          });

          $('#shop-style').on('change', function () {
            $.ajax({
              url: $('#shop-style option:selected').val(),
              success: function (res) {
                location.href = $('#shop-style option:selected').val();
              }
            });
          });

          $('#product-category-col').on('change', function () {
            $.ajax({
              url: $('#product-category-col option:selected').val(),
              success: function (res) {
                location.href = $('#product-category-col option:selected').val();
              }
            });
          });

          $('#single-products').on('change', function () {
            $.ajax({
              url: $('#single-products option:selected').val(),
              success: function (res) {
                location.href = $('#single-products option:selected').val();
              }
            });
          });

          $('.style-toggle').on('click', function () {
            $(this).parent('.config').toggleClass('open');
          });
        });
      })(jQuery);
    </script>
  </div>
</div>