.errorcolor{
    color: red;
}
.styled-select {
    height: 42px;
    overflow: hidden;
    width: 205px;
    
 }
 .styled-select select {
    background: transparent;
    font-size: 14px;
    height: 40px;
    padding: 5px;
    width: 268px;
 }
 .rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 30px;
    border-radius:80px;
    border-style: groove;
 }
.nextline{
   margin: 11px;
   line-height: inherit;
}