<app-header></app-header>
<ul class="navbar-mini-cart navbar-nav animate-dropdown nav pull-right flip">
  <li class="nav-item dropdown">
    <ul class="dropdown-menu dropdown-menu-mini-cart">
      <li>
        <div class="widget_shopping_cart_content">

          <ul class="cart_list product_list_widget ">


            <li class="mini_cart_item">
              <a title="Remove this item" class="remove" href="#">×</a>
              <a routerLink="/itemdetail">
                <img class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image"
                  src="../../assets/images/products/mini-cart1.jpg" alt="">White lumia 9001&nbsp;
              </a>

              <span class="quantity">2 × <span class="amount">£150.00</span></span>
            </li>


            <li class="mini_cart_item">
              <a title="Remove this item" class="remove" href="#">×</a>
              <a routerLink="/itemdetail">
                <img class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image"
                  src="../../assets/images/products/mini-cart2.jpg" alt="">PlayStation 4&nbsp;
              </a>

              <span class="quantity">1 × <span class="amount">£399.99</span></span>
            </li>

            <li class="mini_cart_item">
              <a data-product_sku="" data-product_id="34" title="Remove this item" class="remove" href="#">×</a>
              <a routerLink="/itemdetail">
                <img class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image"
                  src="../../assets/images/products/mini-cart3.jpg" alt="">POV Action Cam HDR-AS100V&nbsp;
              </a>
              <span class="quantity">1 × <span class="amount">£269.99</span></span>
            </li>
          </ul>
          <p class="total"><strong>Subtotal:</strong> <span class="amount">£969.98</span></p>
          <p class="buttons">
            <a class="button wc-forward" routerLink="/cart">View Cart</a>
            <a class="button checkout wc-forward" routerLink="/checkout">Checkout</a>
          </p>
        </div>
      </li>
    </ul>
  </li>
</ul>
<div class="container">

  <nav class="woocommerce-breadcrumb"><a routerLink="/">Home</a><span class="delimiter"><i
        class="fa fa-angle-right"></i></span>Laptops &amp; Computers</nav>

  <div id="primary" class="content-area">
    <main id="main" class="site-main">
      <section>
        <header>
          <h2 class="h1">Baking Machine Categories</h2>
        </header>
        <div class="woocommerce columns-4">
          <ul class="product-loop-categories">
            <li class="product-category product first"*ngFor="let category of categories"><a routerLink="/shop">
              <img  src="{{category.image}}" alt="Accessories" width="250" height="232" />
                <h3>{{category.name}} <mark class="count">(2)</mark></h3>
              </a>
            </li>           
          </ul>
        </div>
      </section>

      <section class="section-product-cards-carousel">
        <header>
          <h2 class="h1">People buying in this category</h2>
          <div class="owl-nav">
            <a href="#products-carousel-prev" data-target="#recently-added-products-carousel" class="slider-prev"><i
                class="fa fa-angle-left"></i></a>
            <a href="#products-carousel-next" data-target="#recently-added-products-carousel" class="slider-next"><i
                class="fa fa-angle-right"></i></a>
          </div>
        </header>

        <div id="recently-added-products-carousel">
          <div class="woocommerce columns-6">
            <div class="products owl-carousel recently-added-products products-carousel columns-6">
              <div class="product"*ngFor="let product of products">
                <div class="product-outer">
                  <div class="product-inner">
                    <span class="loop-product-categories"><a routerLink="/itemlist" rel="tag">{{product.productCategory.name}}</a></span>
                    <a routerLink="/itemdetail/{{product.id}}">
                      <h3>{{product.name}}</h3>
                      <div class="product-thumbnail">
                        <img src="{{product.image}}"class="img-responsive" alt="">
                      </div>
                    </a>
                    <div class="price-add-to-cart">
                      <span class="price"*ngFor="let pd of product.ProductDetail">
                        <span class="electro-price">
                          <ins><span class="amount"> </span></ins>
                          <span class="amount"> ${{pd.price}}</span>
                        </span>
                      </span>
                      <a rel="nofollow" routerLink="/itemdetail/{{product.id}}" class="button add_to_cart_button">Add to cart</a>
                    </div>
                     <div class="hover-area">
                      <div class="action-buttons">
                        <a routerLink="/#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                        <a routerLink="/compare" class="add-to-compare-link"> Compare</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
<app-footer></app-footer>