<app-header></app-header>
<ul class="navbar-mini-cart navbar-nav animate-dropdown nav pull-right flip">
  <li class="nav-item dropdown">
    <ul class="dropdown-menu dropdown-menu-mini-cart">
      <li>
        <div class="widget_shopping_cart_content">

          <ul class="cart_list product_list_widget ">


            <li class="mini_cart_item">
              <a title="Remove this item" class="remove" href="#">×</a>
              <a routerLink="/itemdetail">
                <img class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image"
                  src="assets/images/products/mini-cart1.jpg" alt="">White lumia 9001&nbsp;
              </a>

              <span class="quantity">2 × <span class="amount">£150.00</span></span>
            </li>


            <li class="mini_cart_item">
              <a title="Remove this item" class="remove" href="#">×</a>
              <a routerLink="/itemdetail">
                <img class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image"
                  src="assets/images/products/mini-cart2.jpg" alt="">PlayStation 4&nbsp;
              </a>

              <span class="quantity">1 × <span class="amount">£399.99</span></span>
            </li>

            <li class="mini_cart_item">
              <a data-product_sku="" data-product_id="34" title="Remove this item" class="remove" href="#">×</a>
              <a routerLink="/itemdetail">
                <img class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image"
                  src="assets/images/products/mini-cart3.jpg" alt="">POV Action Cam HDR-AS100V&nbsp;

              </a>

              <span class="quantity">1 × <span class="amount">£269.99</span></span>
            </li>


          </ul><!-- end product list -->


          <p class="total"><strong>Subtotal:</strong> <span class="amount">£969.98</span></p>


          <p class="buttons">
            <a class="button wc-forward" routerLink="/cart">View Cart</a>
            <a class="button checkout wc-forward" routerLink="/checkout">Checkout</a>
          </p>
        </div>
      </li>
    </ul>
  </li>
</ul>
<div class="container">

  <nav class="woocommerce-breadcrumb"><a routerLink="/home">Home</a><span class="delimiter"><i
        class="fa fa-angle-right"></i></span>Laptops &amp; Computers</nav>

  <div id="primary" class="content-area">
    <main id="main" class="site-main">
      <section>
        <header>
          <h2 class="h1">Laptops &amp; Computers Categories</h2>
        </header>
        <div class="woocommerce columns-4">
          <ul class="product-loop-categories">
            <li class="product-category product first"><a routerLink="/cart"><img
                  src="assets/images/product-category/7.jpg" alt="Accessories" width="250" height="232" />
                <h3>Accessories <mark class="count">(2)</mark></h3>
              </a></li>
            <li class="product-category product"><a routerLink="/cart"><img
                  src="assets/images/product-category/8.jpg" alt="All in One" width="250" height="232" />
                <h3>All in One <mark class="count">(1)</mark></h3>
              </a></li>
            <li class="product-category product"><a routerLink="/cart"><img
                  src="assets/images/product-category/9.jpg" alt="Gaming" width="250" height="232" />
                <h3>Gaming <mark class="count">(1)</mark></h3>
              </a></li>
            <li class="product-category product last"><a routerLink="/cart"><img
                  src="assets/images/product-category/10.jpg" alt="Laptops" width="250" height="232" />
                <h3>Laptops <mark class="count">(6)</mark></h3>
              </a></li>
            <li class="product-category product first"><a routerLink="/cart"><img
                  src="assets/images/product-category/11.jpg" alt="Mac Computers" width="250" height="232" />
                <h3>Mac Computers <mark class="count">(1)</mark></h3>
              </a></li>
            <li class="product-category product"><a routerLink="/cart"><img
                  src="assets/images/product-category/12.jpg" alt="Peripherals" width="250" height="232" />
                <h3>Peripherals <mark class="count">(1)</mark></h3>
              </a></li>
            <li class="product-category product"><a routerLink="/cart"><img
                  src="assets/images/product-category/13.jpg" alt="Servers" width="250" height="232" />
                <h3>Servers <mark class="count">(1)</mark></h3>
              </a></li>
            <li class="product-category product last"><a routerLink="/cart"><img
                  src="assets/images/product-category/14.jpg" alt="Ultrabooks" width="250" height="232" />
                <h3>Ultrabooks <mark class="count">(1)</mark></h3>
              </a></li>
          </ul>
        </div>
      </section>

      <section class="section-product-cards-carousel">
        <header>
          <h2 class="h1">People buying in this category</h2>
          <div class="owl-nav">
            <a href="#products-carousel-prev" data-target="#recently-added-products-carousel" class="slider-prev"><i
                class="fa fa-angle-left"></i></a>
            <a href="#products-carousel-next" data-target="#recently-added-products-carousel" class="slider-next"><i
                class="fa fa-angle-right"></i></a>
          </div>
        </header>

        <div id="recently-added-products-carousel">
          <div class="woocommerce columns-6">
            <div class="products owl-carousel recently-added-products products-carousel columns-6">


              <div class="product">
                <div class="product-outer">
                  <div class="product-inner">
                    <span class="loop-product-categories"><a routerLink="/itemlist" rel="tag">Smartphones</a></span>
                    <a routerLink="/itemdetail">
                      <h3>Notebook Purple G952VX-T7008T</h3>
                      <div class="product-thumbnail">
                        <img src="assets/images/blank.gif" data-echo="assets/images/product-category/3.jpg"
                          class="img-responsive" alt="">
                      </div>
                    </a>

                    <div class="price-add-to-cart">
                      <span class="price">
                        <span class="electro-price">
                          <ins><span class="amount"> </span></ins>
                          <span class="amount"> $1,999.00</span>
                        </span>
                      </span>
                      <a rel="nofollow" routerLink="/itemdetail" class="button add_to_cart_button">Add to
                        cart</a>
                    </div><!-- /.price-add-to-cart -->

                    <div class="hover-area">
                      <div class="action-buttons">

                        <a routerLink="/#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>

                        <a routerLink="/compare" class="add-to-compare-link"> Compare</a>
                      </div>
                    </div>
                  </div><!-- /.product-inner -->
                </div><!-- /.product-outer -->
              </div><!-- /.products -->



              <div class="product">
                <div class="product-outer">
                  <div class="product-inner">
                    <span class="loop-product-categories"><a routerLink="/itemlist" rel="tag">Smartphones</a></span>
                    <a routerLink="/itemdetail">
                      <h3>Notebook Black Spire V Nitro VN7-591G</h3>
                      <div class="product-thumbnail">
                        <img src="assets/images/blank.gif" data-echo="assets/images/product-category/1.jpg"
                          class="img-responsive" alt="">
                      </div>
                    </a>

                    <div class="price-add-to-cart">
                      <span class="price">
                        <span class="electro-price">
                          <ins><span class="amount"> </span></ins>
                          <span class="amount"> $1,999.00</span>
                        </span>
                      </span>
                      <a rel="nofollow" routerLink="/itemdetail" class="button add_to_cart_button">Add to
                        cart</a>
                    </div><!-- /.price-add-to-cart -->

                    <div class="hover-area">
                      <div class="action-buttons">

                        <a routerLink="/#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>

                        <a routerLink="/compare" class="add-to-compare-link"> Compare</a>
                      </div>
                    </div>
                  </div><!-- /.product-inner -->
                </div><!-- /.product-outer -->
              </div><!-- /.products -->



              <div class="product">
                <div class="product-outer">
                  <div class="product-inner">
                    <span class="loop-product-categories"><a routerLink="/itemlist" rel="tag">Smartphones</a></span>
                    <a routerLink="/itemdetail">
                      <h3>Tablet Thin EliteBook Revolve 810 G6</h3>
                      <div class="product-thumbnail">
                        <img src="assets/images/blank.gif" data-echo="assets/images/product-category/2.jpg"
                          class="img-responsive" alt="">
                      </div>
                    </a>

                    <div class="price-add-to-cart">
                      <span class="price">
                        <span class="electro-price">
                          <ins><span class="amount"> </span></ins>
                          <span class="amount"> $1,999.00</span>
                        </span>
                      </span>
                      <a rel="nofollow" routerLink="/itemdetail" class="button add_to_cart_button">Add to
                        cart</a>
                    </div><!-- /.price-add-to-cart -->

                    <div class="hover-area">
                      <div class="action-buttons">

                        <a routerLink="/#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>

                        <a routerLink="/compare" class="add-to-compare-link"> Compare</a>
                      </div>
                    </div>
                  </div><!-- /.product-inner -->
                </div><!-- /.product-outer -->
              </div><!-- /.products -->



              <div class="product">
                <div class="product-outer">
                  <div class="product-inner">
                    <span class="loop-product-categories"><a routerLink="/itemlist" rel="tag">Smartphones</a></span>
                    <a routerLink="/itemdetail">
                      <h3>Notebook Purple G952VX-T7008T</h3>
                      <div class="product-thumbnail">
                        <img src="assets/images/blank.gif" data-echo="assets/images/product-category/4.jpg"
                          class="img-responsive" alt="">
                      </div>
                    </a>

                    <div class="price-add-to-cart">
                      <span class="price">
                        <span class="electro-price">
                          <ins><span class="amount"> </span></ins>
                          <span class="amount"> $1,999.00</span>
                        </span>
                      </span>
                      <a rel="nofollow" routerLink="/itemdetail" class="button add_to_cart_button">Add to
                        cart</a>
                    </div><!-- /.price-add-to-cart -->

                    <div class="hover-area">
                      <div class="action-buttons">

                        <a routerLink="/#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>

                        <a routerLink="/compare" class="add-to-compare-link"> Compare</a>
                      </div>
                    </div>
                  </div><!-- /.product-inner -->
                </div><!-- /.product-outer -->
              </div><!-- /.products -->



              <div class="product">
                <div class="product-outer">
                  <div class="product-inner">
                    <span class="loop-product-categories"><a routerLink="/itemlist" rel="tag">Smartphones</a></span>
                    <a routerLink="/itemdetail">
                      <h3>Smartphone 6S 128GB LTE</h3>
                      <div class="product-thumbnail">
                        <img src="assets/images/blank.gif" data-echo="assets/images/product-category/6.jpg"
                          class="img-responsive" alt="">
                      </div>
                    </a>

                    <div class="price-add-to-cart">
                      <span class="price">
                        <span class="electro-price">
                          <ins><span class="amount"> </span></ins>
                          <span class="amount"> $200.00</span>
                        </span>
                      </span>
                      <a rel="nofollow" routerLink="/itemdetail" class="button add_to_cart_button">Add to
                        cart</a>
                    </div><!-- /.price-add-to-cart -->

                    <div class="hover-area">
                      <div class="action-buttons">

                        <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>

                        <a routerLink="/compare" class="add-to-compare-link"> Compare</a>
                      </div>
                    </div>
                  </div><!-- /.product-inner -->
                </div><!-- /.product-outer -->
              </div><!-- /.products -->



              <div class="product">
                <div class="product-outer">
                  <div class="product-inner">
                    <span class="loop-product-categories"><a routerLink="/itemlist" rel="tag">Smartphones</a></span>
                    <a routerLink="/itemdetail">
                      <h3>Laptop Yoga 21 80JH0035GE W8.1 (Copy)</h3>
                      <div class="product-thumbnail">
                        <img src="assets/images/blank.gif" data-echo="assets/images/product-category/5.jpg"
                          class="img-responsive" alt="">
                      </div>
                    </a>

                    <div class="price-add-to-cart">
                      <span class="price">
                        <span class="electro-price">
                          <ins><span class="amount"> </span></ins>
                          <span class="amount"> $1,999.00</span>
                        </span>
                      </span>
                      <a rel="nofollow" routerLink="/itemdetail" class="button add_to_cart_button">Add to
                        cart</a>
                    </div><!-- /.price-add-to-cart -->

                    <div class="hover-area">
                      <div class="action-buttons">

                        <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>

                        <a routerLink="/compare" class="add-to-compare-link"> Compare</a>
                      </div>
                    </div>
                  </div><!-- /.product-inner -->
                </div><!-- /.product-outer -->
              </div><!-- /.products -->



              <div class="product">
                <div class="product-outer">
                  <div class="product-inner">
                    <span class="loop-product-categories"><a routerLink="/itemlist" rel="tag">Smartphones</a></span>
                    <a routerLink="/itemdetail">
                      <h3>Notebook Widescreen Z51-70 40K6013UPB</h3>
                      <div class="product-thumbnail">
                        <img src="assets/images/blank.gif" data-echo="assets/images/product-category/3.jpg"
                          class="img-responsive" alt="">
                      </div>
                    </a>

                    <div class="price-add-to-cart">
                      <span class="price">
                        <span class="electro-price">
                          <ins><span class="amount"> $1,999.00</span></ins>
                          <del><span class="amount">$2,299.00</span></del>
                          <span class="amount"> </span>
                        </span>
                      </span>
                      <a rel="nofollow" routerLink="/itemdetail" class="button add_to_cart_button">Add to
                        cart</a>
                    </div><!-- /.price-add-to-cart -->

                    <div class="hover-area">
                      <div class="action-buttons">

                        <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>

                        <a routerLink="/compare" class="add-to-compare-link"> Compare</a>
                      </div>
                    </div>
                  </div><!-- /.product-inner -->
                </div><!-- /.product-outer -->
              </div><!-- /.products -->



              <div class="product">
                <div class="product-outer">
                  <div class="product-inner">
                    <span class="loop-product-categories"><a routerLink="/itemlist" rel="tag">Smartphones</a></span>
                    <a routerLink="/itemdetail">
                      <h3>Tablet Thin EliteBook Revolve 810 G6</h3>
                      <div class="product-thumbnail">
                        <img src="assets/images/blank.gif" data-echo="assets/images/product-category/2.jpg"
                          class="img-responsive" alt="">
                      </div>
                    </a>

                    <div class="price-add-to-cart">
                      <span class="price">
                        <span class="electro-price">
                          <ins><span class="amount"> $1,999.00</span></ins>
                          <del><span class="amount">$2,299.00</span></del>
                          <span class="amount"> </span>
                        </span>
                      </span>
                      <a rel="nofollow" routerLink="/itemdetail" class="button add_to_cart_button">Add to
                        cart</a>
                    </div><!-- /.price-add-to-cart -->

                    <div class="hover-area">
                      <div class="action-buttons">

                        <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>

                        <a routerLink="/compare" class="add-to-compare-link"> Compare</a>
                      </div>
                    </div>
                  </div><!-- /.product-inner -->
                </div><!-- /.product-outer -->
              </div><!-- /.products -->


            </div>
          </div>
        </div>
      </section>
    </main><!-- #main -->
  </div><!-- #primary -->
</div><!-- .container -->
<app-footer></app-footer>