<app-header></app-header>
<div class="container">
    <nav class="woocommerce-breadcrumb">
        <a routerLink="/">Home</a>
        <span class="delimiter"><i class="fa fa-angle-right"></i></span>
        Machine
    </nav>
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <section>
                <header>
                    <h2 class="h1">Baking Machine</h2>
                </header>
                <div class="woocommerce columns-6">
                    <ul class="product-loop-categories">

                        <li class="product-category product" *ngFor="let p of  productLimit">
                            <a routerLink="/shop">
                                <img src="{{p.image}}" class="img-responsive" alt="">
                                <h3>
                                    {{p.name}} <mark class="count">(3)</mark>
                                </h3>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="section-products-carousel">
                <header>
                    <h2 class="h1 color">People buying in this category</h2>
                    <div class="owl-nav">
                        <a href="#products-carousel-prev" data-target="#product-category-carousel" class="slider-prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#products-carousel-next" data-target="#product-category-carousel"
                            class="slider-next"><i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </header>
                <div id="product-category-carousel">
                    <div class="woocommerce columns-6">
                        <div class="products owl-carousel products-carousel columns-6">
                            <div class="product"*ngFor="let product of products">
                                <div class="product-outer">
                                    <div class="product-inner">
                                        <span class="loop-product-categories"><a routerLink="/itemlist"
                                                rel="tag">{{product.category.name}}</a></span>
                                        <a routerLink="/itemdetail/{{product.id}}">
                                            <h3>{{product.name}}</h3>
                                            <div class="product-thumbnail">
                                                <img src="{{product.image}}"class="img-responsive" alt="">
                                            </div>
                                        </a>

                                        <div class="price-add-to-cart">
                                            <span class="price"*ngFor="let pd of product.ProductDetail">
                                                <span class="electro-price">
                                                    <ins><span class="amount"> </span></ins>
                                                    <span class="amount"> ${{pd.price}}</span>
                                                </span>
                                            </span>
                                            <a rel="nofollow" routerLink="/itemdetail/{{product.id}}"class="button add_to_cart_button">Add to cart</a>
                                        </div>

                                        <div class="hover-area">
                                            <div class="action-buttons">
                                                <a routerLink="/wishlist/{{product.id}}" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                                <a routerLink="/compare" class="add-to-compare-link"> Compare</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </section><!-- /.section-products-carousel -->

            <div class="tab-content">
                <div id="grid" class="tab-pane active" role="tabpanel">

                    <ul class="products columns-3">

                    </ul>
                </div>
                <div id="grid-extended" class="tab-pane " role="tabpanel">

                    <ul class="products columns-3">

                    </ul>
                </div>
                <div id="list-view" class="tab-pane " role="tabpanel">

                    <ul class="products columns-3">

                    </ul>
                </div>
                <div id="list-view-small" class="tab-pane " role="tabpanel">

                    <ul class="products columns-3">

                    </ul>
                </div>
            </div>

        </main><!-- #main -->
    </div><!-- #primary -->

</div><!-- .col-full -->
<app-footer></app-footer>