<div class="home page-template page-template-template-homepage-v3 full-color-background">
    <div id="page" class="hfeed site">
        <div class="top-bar">
            <div class="container">
                <nav>
                    <ul id="menu-top-bar-left" class="nav nav-inline pull-left animate-dropdown flip">
                        <li class="menu-item animate-dropdown"><a title="Welcome to Worldwide Electronics Store"
                                href="#">Welcome to Worldwide Electronics Store</a></li>
                    </ul>
                </nav>
                <nav>
                    <ul id="menu-top-bar-right" class="nav nav-inline pull-right animate-dropdown flip">
                        <li class="menu-item animate-dropdown"><a title="Store Locator" href="#"><i
                                    class="ec ec-map-pointer"></i>Store Locator</a></li>
                        <li class="menu-item animate-dropdown"><a title="My Account" routerLink="/register"><i
                                    class="ec ec-user"></i>My Account</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <header id="masthead" class="site-header header-v3">
            <div class="container">
                <div class="row">
                    <div class="header-logo">
                        <a routerLink="/" class="header-logo-link">
                            <img src="../../assets/images/logo-light.png" [ngStyle]="{'margin-top': '-8px'}">
                        </a>
                    </div> 

                </div><!-- /.row -->
            </div>
        </header>
        <nav class="navbar navbar-primary navbar-full yamm">
            <div class="container">
                <div class="clearfix">
                    <button class="navbar-toggler hidden-sm-up pull-right flip" type="button" data-toggle="collapse"
                        data-target="#header-v3">
                        &#9776;
                    </button>
                </div>
                <div class="collapse navbar-toggleable-xs" id="header-v3">
                    <ul class="nav navbar-nav">
                        <li class="menu-item animate-dropdown"><a title="TV &amp; Audio" routerLink="/trainingdetail">Cake Decoration</a></li>
                        <li class="menu-item"><a title="RTV" routerLink="/trainingdetail">Cookie Decorating</a></li>
                        <li class="menu-item"><a title="Computers" routerLink="/trainingdetail">Straight Dough Artisan Bread</a></li>
                        <li class="menu-item"><a title="Games &amp; Consoles" routerLink="/trainingdetail">Waffle Making</a>
                        </li>
                        <li class="menu-item"><a title="Gadgets" routerLink="/trainingdetail">Fruity Swiss Roll</a></li>
                        <li class="menu-item"><a title="Gadgets" routerLink="/trainingdetail">Layer Cakes</a></li>
                    </ul>
                </div><!-- /.collpase -->
            </div><!-- /.-container -->
        </nav>
        <div id="content" class="site-content" tabindex="-1">
            <div class="container">
                <div id="primary" class="content-area">
                    <main id="main" class="site-main">
                        <div class="home-v3-slider">
                            <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">

                                <div class="item" style="background-image: url(assets/images/slider/banner-3.jpg);">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="caption vertical-center text-left">
                                                    <div class="hero-subtitle-v2 fadeInDown-1">
                                                        shop to get what you loves
                                                    </div>

                                                    <div class="hero-2 fadeInDown-2">
                                                        Timepieces that make a statement up to <strong>40% Off</strong>
                                                    </div>

                                                    <div class="hero-action-btn fadeInDown-3">
                                                        <a routerLink="/itemdetail" class="big le-button ">Start
                                                            Buying</a>
                                                    </div>
                                                </div><!-- /.caption -->
                                            </div><!-- /.col -->
                                        </div>
                                    </div><!-- /.container -->
                                </div><!-- /.item -->

                                <div class="item" style="background-image: url(assets/images/slider/banner-1.jpg);">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="caption vertical-center text-left">
                                                    <div class="hero-subtitle-v2 fadeInDown-1">
                                                        shop to get what you loves
                                                    </div>

                                                    <div class="hero-2 fadeInDown-2">
                                                        Timepieces that make a statement up to <strong>40% Off</strong>
                                                    </div>

                                                    <div class="hero-action-btn fadeInDown-3">
                                                        <a routerLink="/itemdetail" class="big le-button ">Start
                                                            Buying</a>
                                                    </div>
                                                </div><!-- /.caption -->
                                            </div>
                                        </div>
                                    </div><!-- /.container -->
                                </div><!-- /.item -->
                                <div class="item" style="background-image: url(assets/images/slider/banner-2.jpg);">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="caption vertical-center text-left">
                                                    <div class="hero-subtitle-v2 fadeInDown-1">
                                                        shop to get what you loves
                                                    </div>

                                                    <div class="hero-2 fadeInDown-2">
                                                        Timepieces that make a statement up to <strong>40% Off</strong>
                                                    </div>

                                                    <div class="hero-action-btn fadeInDown-3">
                                                        <a routerLink="/itemdetail" class="big le-button ">Start
                                                            Buying</a>
                                                    </div>
                                                </div><!-- /.caption -->
                                            </div>
                                        </div>
                                    </div><!-- /.container -->
                                </div><!-- /.item -->
                            </div><!-- /.owl-carousel -->
                        </div><!-- /.home-v1-slider -->
                        <div class="home-v3-ads-block animate-in-view fadeIn animated"
                            data-animation=" animated fadeIn">
                            <div class="ads-block row">
                                <div class="ad col-xs-12 col-sm-6">
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <img data-echo="../../assets/images/banner/cookie-decorating.jpg" src="../../assets/images/blank.gif" alt=""> 
                                        </div>
                                        <div class="media-body media-middle">
                                            <div class="ad-text">
                                                Let's <strong>Create</strong> Cute Cookie
                                            </div>
                                            <div class="ad-action">
                                                <a href="#">Watch Timetable Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col -->
                                <div class="ad col-xs-12 col-sm-6">
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <img data-echo="assets/images/banner/waffle.jpg"
                                                src="../../assets/images/blank.gif" alt="">
                                        </div>
                                        <div class="media-body media-middle">
                                            <div class="ad-text">
                                               Waffle making class <br><strong>and more</strong>
                                            </div>
                                            <div class="ad-action">
                                                <a href="#"><span class="from"><span class="prefix">From</span>
                                                    <span class="value"><sup>$</sup>749</span>
                                                    <span class="suffix">99</span></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                        </div><!-- /.home-v3-ads-block -->
                        <section class="products-carousel-tabs animate-in-view fadeIn animated" data-animation="fadeIn">
                            <h2 class="sr-only">Product Carousel Tabs</h2>
                            <ul class="nav nav-inline text-xs-left">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#tab-products-1" data-toggle="tab">Baking Class</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#tab-products-2" data-toggle="tab">Teachers</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#tab-products-3" data-toggle="tab">Sale Item</a>
                                </li>
                            </ul><!-- /.nav -->

                            <div class="tab-content">
                                <div class="tab-pane active" id="tab-products-1" role="tabpanel">
                                    <section class="section-products-carousel">
                                        <div class="home-v3-owl-carousel-tabs">
                                            <div class="woocommerce columns-4">
                                                <div class="products owl-carousel home-carousel-tabs products-carousel columns-4">
                                                        <div class="product first">
                                                        <div class="product-outer">
                                                            <div class="product-inner">
                                                                <span class="loop-product-categories"><a
                                                                        routerLink="/trainingdetail" rel="tag">Baking Class</a></span>
                                                                <a routerLink="/trainingdetail">
                                                                    <h3>Cake Decoration Class</h3>
                                                                    <div class="product-thumbnail">
                                                                        <img src="../../assets/images/blank.gif"
                                                                            data-echo="../../assets/images/products/red-velvet fruitcake.jpg"
                                                                            class="img-responsive" alt="">
                                                                    </div>
                                                                </a>
                                                                <div class="price-add-to-cart">
                                                                    <h6><strong><i>Class Fees For 1 Month</i>=>$100</strong></h6>    
                                                                </div>
                                                            </div><!-- /.product-inner -->
                                                        </div><!-- /.product-outer -->
                                                    </div><!-- /.product -->


                                                    <div class="product ">
                                                        <div class="product-outer">
                                                            <div class="product-inner">
                                                                <span class="loop-product-categories"><a
                                                                        routerLink="/trainingdetail"
                                                                        rel="tag">Baking Class</a></span>
                                                                <a routerLink="/trainingdetail">
                                                                    <h3>Cookie Decoration Class</h3>
                                                                    <div class="product-thumbnail">
                                                                        <img src="../../assets/images/blank.gif"
                                                                            data-echo="../../assets/images/products/cute cookie.jpg"
                                                                            class="img-responsive" alt="">
                                                                    </div>
                                                                </a>
                                                                <div class="price-add-to-cart">
                                                                    <h6><strong><i>Class Fees For 1 Month</i>=>$100</strong></h6>    
                                                                </div>
                                                            </div><!-- /.product-inner -->
                                                        </div><!-- /.product-outer -->
                                                    </div><!-- /.product -->


                                                    <div class="product ">
                                                        <div class="product-outer">
                                                            <div class="product-inner">
                                                                <span class="loop-product-categories"><a
                                                                        routerLink="/trainingdetail"
                                                                        rel="tag">Baking Class</a></span>
                                                                <a routerLink="/trainingdetail">
                                                                    <h3>Straight Dough Artisan Bread Class</h3>
                                                                    <div class="product-thumbnail">
                                                                        <img src="../../assets/images/blank.gif"
                                                                            data-echo="../../assets/images/products/Straight Dough Artisan Bread.jpg"
                                                                            class="img-responsive" alt="">
                                                                    </div>
                                                                </a>
                                                                <div class="price-add-to-cart">
                                                                    <h6><strong><i>Class Fees For 1 Month</i>=>$100</strong></h6>    
                                                                </div>
                                                            </div><!-- /.product-inner -->
                                                        </div><!-- /.product-outer -->
                                                    </div><!-- /.product -->


                                                    <div class="product last">
                                                        <div class="product-outer">
                                                            <div class="product-inner">
                                                                <span class="loop-product-categories"><a
                                                                        routerLink="/trainingdetail"
                                                                        rel="tag">Baking Class</a></span>
                                                                <a routerLink="/trainingdetail">
                                                                    <h3>Layer Cake Making Class</h3>
                                                                    <div class="product-thumbnail">
                                                                        <img src="../../assets/images/blank.gif"
                                                                            data-echo="../../assets/images/products/Layer Cake.jpg"
                                                                            class="img-responsive" alt="">
                                                                    </div>
                                                                </a>
                                                                <div class="price-add-to-cart">
                                                                    <h6><strong><i>Class Fees For 1 Month</i>=>$100</strong></h6>    
                                                                </div>
                                                            </div><!-- /.product-inner -->
                                                        </div><!-- /.product-outer -->
                                                    </div><!-- /.product -->


                                                    <div class="product first">
                                                        <div class="product-outer">
                                                            <div class="product-inner">
                                                                <span class="loop-product-categories"><a
                                                                        routerLink="/trainingdetail"
                                                                        rel="tag">Baking Class</a></span>
                                                                <a routerLink="/trainingdetail">
                                                                    <h3>Waffle Making Class</h3>
                                                                    <div class="product-thumbnail">
                                                                        <img src="../../assets/images/blank.gif"
                                                                            data-echo="../../assets/images/products/Waffle-Makers.jpg"
                                                                            class="img-responsive" alt="">
                                                                    </div>
                                                                </a>
                                                                <div class="price-add-to-cart">
                                                                    <h6><strong><i>Class Fees For 1 Month</i>=>$100</strong></h6>    
                                                                </div>
                                                            </div><!-- /.product-inner -->
                                                        </div><!-- /.product-outer -->
                                                    </div><!-- /.product -->

                                                    <div class="product ">
                                                        <div class="product-outer">
                                                            <div class="product-inner">
                                                                <span class="loop-product-categories"><a
                                                                        routerLink="/trainingdetail"
                                                                        rel="tag">Baking Class</a></span>
                                                                <a routerLink="/trainingdetail">
                                                                    <h3>Fruity Swiss Roll Making Class</h3>
                                                                    <div class="product-thumbnail">
                                                                        <img src="../../assets/images/blank.gif"
                                                                            data-echo="../../assets/images/products/swiss roll.jpg"
                                                                            class="img-responsive" alt="">
                                                                    </div>
                                                                </a>
                                                                <div class="price-add-to-cart">
                                                                    <h6><strong><i>Class Fees For 1 Month</i>=>$100</strong></h6>    
                                                                </div>
                                                            </div><!-- /.product-inner -->
                                                        </div><!-- /.product-outer -->
                                                    </div><!-- /.product -->
                                                </div><!-- /.products -->
                                            </div>
                                        </div>
                                    </section>
                                </div><!-- /.tab-pane -->

                                <div class="tab-pane" id="tab-products-2" role="tabpanel">
                                    <section class="section-products-carousel">
                                        <div class="home-v3-owl-carousel-tabs">
                                            <div class="woocommerce columns-4">


                                                <div
                                                    class="products owl-carousel home-carousel-tabs products-carousel columns-4">


                                                    <div class="product ">
                                                        <div class="product-outer">
                                                            <div class="product-inner">
                                                                <span class="loop-product-categories"><a
                                                                        routerLink="/trainingdetail" rel="tag">Baking Class Teachers</a></span>
                                                                <a routerLink="/trainingdetail">
                                                                    <h3>Cake Decoration Teacher</h3>
                                                                    <div class="product-thumbnail">
                                                                        <img src="../../assets/images/blank.gif"
                                                                            data-echo="../../assets/images/products/chef 1.jpg"
                                                                            class="img-responsive" alt="">
                                                                    </div>
                                                                </a>
                                                            </div><!-- /.product-inner -->
                                                        </div><!-- /.product-outer -->
                                                    </div><!-- /.product -->


                                                    <div class="product last">
                                                        <div class="product-outer">
                                                            <div class="product-inner">
                                                                <span class="loop-product-categories"><a
                                                                        routerLink="/trainingdetail"
                                                                        rel="tag">Baking Class Teachers</a></span>
                                                                <a routerLink="/trainingdetail">
                                                                    <h3>Cookie Decoration Teacher</h3>
                                                                    <div class="product-thumbnail">
                                                                        <img src="../../assets/images/blank.gif"
                                                                            data-echo="../../assets/images/products/chef 4.jpg"
                                                                            class="img-responsive" alt="">
                                                                    </div>
                                                                </a>
                                                            </div><!-- /.product-inner -->
                                                        </div><!-- /.product-outer -->
                                                    </div><!-- /.product -->


                                                    <div class="product first">
                                                        <div class="product-outer">
                                                            <div class="product-inner">
                                                                <span class="loop-product-categories"><a
                                                                        routerLink="/trainingdetail"
                                                                        rel="tag">Baking Class Teachers</a></span>
                                                                <a routerLink="/trainingdetail">
                                                                    <h3>Bread Making Teacher</h3>
                                                                    <div class="product-thumbnail">
                                                                        <img src="../../assets/images/blank.gif"
                                                                            data-echo="../../assets/images/products/chef 5.jpg"
                                                                            class="img-responsive" alt="">
                                                                    </div>
                                                                </a>
                                                            </div><!-- /.product-inner -->
                                                        </div><!-- /.product-outer -->
                                                    </div><!-- /.product -->

                                                    <div class="product ">
                                                        <div class="product-outer">
                                                            <div class="product-inner">
                                                                <span class="loop-product-categories"><a
                                                                        routerLink="/trainingdetail"
                                                                        rel="tag">Baking Class Teachers</a></span>
                                                                <a routerLink="/trainingdetail">
                                                                    <h3>Waffel Making Teacher</h3>
                                                                    <div class="product-thumbnail">
                                                                        <img src="../../assets/images/blank.gif"
                                                                            data-echo="../../assets/images/products/chef 2.jpg"
                                                                            class="img-responsive" alt="">
                                                                    </div>
                                                                </a>
                                                            </div><!-- /.product-inner -->
                                                        </div><!-- /.product-outer -->
                                                    </div><!-- /.product -->


                                                    <div class="product ">
                                                        <div class="product-outer">
                                                            <div class="product-inner">
                                                                <span class="loop-product-categories"><a
                                                                        routerLink="/trainingdetail"
                                                                        rel="tag">Baking Class Teachers</a></span>
                                                                <a routerLink="/trainingdetail">
                                                                    <h3>Swiss Roll Making Teacher</h3>
                                                                    <div class="product-thumbnail">
                                                                        <img src="../../assets/images/blank.gif"
                                                                            data-echo="../../assets/images/products/chef 6.jpg"
                                                                            class="img-responsive" alt="">
                                                                    </div>
                                                                </a>
                                                            </div><!-- /.product-inner -->
                                                        </div><!-- /.product-outer -->
                                                    </div><!-- /.product -->


                                                    <div class="product last">
                                                        <div class="product-outer">
                                                            <div class="product-inner">
                                                                <span class="loop-product-categories"><a
                                                                        routerLink="/trainingdetail"
                                                                        rel="tag">Baking Class Teachers</a></span>
                                                                <a routerLink="/trainingdetail">
                                                                    <h3>Layer Cake Making Teacher</h3>
                                                                    <div class="product-thumbnail">
                                                                        <img src="../../assets/images/blank.gif"
                                                                            data-echo="../../assets/images/products/chef 3.jpg"
                                                                            class="img-responsive" alt="">
                                                                    </div>
                                                                </a>
                                                            </div><!-- /.product-inner -->
                                                        </div><!-- /.product-outer -->
                                                    </div><!-- /.product -->
                                                </div><!-- /.products -->
                                            </div>
                                        </div>
                                    </section>
                                </div><!-- /.tab-pane -->

                                <div class="tab-pane" id="tab-products-3" role="tabpanel">
                                    <section class="section-products-carousel">
                                        <div class="home-v3-owl-carousel-tabs">
                                            <div class="woocommerce columns-4">


                                                <div
                                                    class="products owl-carousel home-carousel-tabs products-carousel columns-4">


                                                    <div class="product first">
                                                        <div class="product-outer">
                                                            <div class="product-inner">
                                                                <span class="loop-product-categories"><a
                                                                        routerLink="/trainingdetail" rel="tag">Bakery Equimpent</a></span>
                                                                <a routerLink="/itemdetail">
                                                                    <h3>Mixer Machine</h3>
                                                                    <div class="product-thumbnail">
                                                                        <img src="../../assets/images/blank.gif"
                                                                            data-echo="../../assets/images/products/CCTB.jpg"
                                                                            class="img-responsive" alt="">
                                                                    </div>
                                                                </a>

                                                                <div class="price-add-to-cart">
                                                                    <span class="price">
                                                                        <span class="electro-price">
                                                                            <ins><span class="amount">
                                                                                    $1,999.00</span></ins>
                                                                            <del><span
                                                                                    class="amount">$2,299.00</span></del>
                                                                            <span class="amount"> </span>
                                                                        </span>
                                                                    </span>
                                                                    <a rel="nofollow" routerLink="/itemdetail"
                                                                        class="button add_to_cart_button">Add to
                                                                        cart</a>
                                                                </div><!-- /.price-add-to-cart -->

                                                                <div class="hover-area">
                                                                    <div class="action-buttons">

                                                                        <a href="#" rel="nofollow"
                                                                            class="add_to_wishlist"> Wishlist</a>

                                                                        <a routerLink="/compare"
                                                                            class="add-to-compare-link"> Compare</a>
                                                                    </div>
                                                                </div>
                                                            </div><!-- /.product-inner -->
                                                        </div><!-- /.product-outer -->
                                                    </div><!-- /.product -->


                                                    <div class="product ">
                                                        <div class="product-outer">
                                                            <div class="product-inner">
                                                                <span class="loop-product-categories"><a
                                                                        routerLink="/trainingdetail"
                                                                        rel="tag">Bakery Equimpent</a></span>
                                                                <a routerLink="/itemdetail">
                                                                    <h3>Bakery Equimpent</h3>
                                                                    <div class="product-thumbnail">
                                                                        <img src="../../assets/images/blank.gif"
                                                                            data-echo="../../assets/images/products/dough-moulder.jpg"
                                                                            class="img-responsive" alt="">
                                                                    </div>
                                                                </a>

                                                                <div class="price-add-to-cart">
                                                                    <span class="price">
                                                                        <span class="electro-price">
                                                                            <ins><span class="amount"> </span></ins>
                                                                            <span class="amount"> $1,999.00</span>
                                                                        </span>
                                                                    </span>
                                                                    <a rel="nofollow" routerLink="/itemdetail"
                                                                        class="button add_to_cart_button">Add to
                                                                        cart</a>
                                                                </div><!-- /.price-add-to-cart -->

                                                                <div class="hover-area">
                                                                    <div class="action-buttons">

                                                                        <a href="#" rel="nofollow"
                                                                            class="add_to_wishlist"> Wishlist</a>

                                                                        <a routerLink="/compare"
                                                                            class="add-to-compare-link"> Compare</a>
                                                                    </div>
                                                                </div>
                                                            </div><!-- /.product-inner -->
                                                        </div><!-- /.product-outer -->
                                                    </div><!-- /.product -->


                                                    <div class="product ">
                                                        <div class="product-outer">
                                                            <div class="product-inner">
                                                                <span class="loop-product-categories"><a
                                                                        routerLink="/trainingdetail"
                                                                        rel="tag">Bakery Equimpent</a></span>
                                                                <a routerLink="/itemdetail">
                                                                    <h3>Dough-Mixer</h3>
                                                                    <div class="product-thumbnail">
                                                                        <img src="../../assets/images/blank.gif"
                                                                            data-echo="../../assets/images/products/Dough-Mixer.jpg"
                                                                            class="img-responsive" alt="">
                                                                    </div>
                                                                </a>

                                                                <div class="price-add-to-cart">
                                                                    <span class="price">
                                                                        <span class="electro-price">
                                                                            <ins><span class="amount">
                                                                                    $1,999.00</span></ins>
                                                                            <del><span
                                                                                    class="amount">$2,299.00</span></del>
                                                                            <span class="amount"> </span>
                                                                        </span>
                                                                    </span>
                                                                    <a rel="nofollow" routerLink="/itemdetail"
                                                                        class="button add_to_cart_button">Add to
                                                                        cart</a>
                                                                </div><!-- /.price-add-to-cart -->

                                                                <div class="hover-area">
                                                                    <div class="action-buttons">

                                                                        <a href="#" rel="nofollow"
                                                                            class="add_to_wishlist"> Wishlist</a>

                                                                        <a routerLink="/compare"
                                                                            class="add-to-compare-link"> Compare</a>
                                                                    </div>
                                                                </div>
                                                            </div><!-- /.product-inner -->
                                                        </div><!-- /.product-outer -->
                                                    </div><!-- /.product -->


                                                    <div class="product last">
                                                        <div class="product-outer">
                                                            <div class="product-inner">
                                                                <span class="loop-product-categories"><a
                                                                        routerLink="/trainingdetail"
                                                                        rel="tag">Bakery Equimpent</a></span>
                                                                <a routerLink="/itemdetail">
                                                                    <h3>Chocolate Making Equipment</h3>
                                                                    <div class="product-thumbnail">
                                                                        <img src="../../assets/images/blank.gif"
                                                                            data-echo="../../assets/images/products/Chocolate making equipment.jpg"
                                                                            class="img-responsive" alt="">
                                                                    </div>
                                                                </a>

                                                                <div class="price-add-to-cart">
                                                                    <span class="price">
                                                                        <span class="electro-price">
                                                                            <ins><span class="amount"> </span></ins>
                                                                            <span class="amount"> $1,999.00</span>
                                                                        </span>
                                                                    </span>
                                                                    <a rel="nofollow" routerLink="/itemdetail"
                                                                        class="button add_to_cart_button">Add to
                                                                        cart</a>
                                                                </div><!-- /.price-add-to-cart -->

                                                                <div class="hover-area">
                                                                    <div class="action-buttons">

                                                                        <a href="#" rel="nofollow"
                                                                            class="add_to_wishlist"> Wishlist</a>

                                                                        <a routerLink="/compare"
                                                                            class="add-to-compare-link"> Compare</a>
                                                                    </div>
                                                                </div>
                                                            </div><!-- /.product-inner -->
                                                        </div><!-- /.product-outer -->
                                                    </div><!-- /.product -->


                                                    <div class="product first">
                                                        <div class="product-outer">
                                                            <div class="product-inner">
                                                                    <span class="loop-product-categories"><a
                                                                        routerLink="/trainingdetail"
                                                                        rel="tag">Bakery Equimpent</a></span>
                                                                <a routerLink="/itemdetail">
                                                                    <h3>Pizza-Oven</h3>
                                                                    <div class="product-thumbnail">
                                                                        <img src="../../assets/images/blank.gif"
                                                                            data-echo="../../assets/images/products/pizza-oven.jpg"
                                                                            class="img-responsive" alt="">
                                                                    </div>
                                                                </a>
                                                                <div class="price-add-to-cart">
                                                                    <span class="price">
                                                                        <span class="electro-price">
                                                                            <ins><span class="amount">
                                                                                    $1,999.00</span></ins>
                                                                            <del><span
                                                                                    class="amount">$2,299.00</span></del>
                                                                            <span class="amount"> </span>
                                                                        </span>
                                                                    </span>
                                                                    <a rel="nofollow" routerLink="/itemdetail"
                                                                        class="button add_to_cart_button">Add to
                                                                        cart</a>
                                                                </div><!-- /.price-add-to-cart -->

                                                                <div class="hover-area">
                                                                    <div class="action-buttons">

                                                                        <a href="#" rel="nofollow"
                                                                            class="add_to_wishlist"> Wishlist</a>

                                                                        <a routerLink="/compare"
                                                                            class="add-to-compare-link"> Compare</a>
                                                                    </div>
                                                                </div>
                                                            </div><!-- /.product-inner -->
                                                        </div><!-- /.product-outer -->
                                                    </div><!-- /.product -->

                                                    <div class="product ">
                                                        <div class="product-outer">
                                                            <div class="product-inner">
                                                                    <span class="loop-product-categories"><a routerLink="/trainingdetail" rel="tag">Bakery Equimpent</a></span>
                                                                <a routerLink="/itemdetail">
                                                                    <h3>Baking sheet Cleaning machine</h3>
                                                                    <div class="product-thumbnail">
                                                                        <img src="../../assets/images/blank.gif" data-echo="../../assets/images/products/Baking sheet Cleaning machine.jpg" class="img-responsive" alt="">
                                                                    </div>
                                                                </a>

                                                                <div class="price-add-to-cart">
                                                                    <span class="price">
                                                                        <span class="electro-price">
                                                                            <ins><span class="amount"> </span></ins>
                                                                            <span class="amount"> $1,999.00</span>
                                                                        </span>
                                                                    </span>
                                                                    <a rel="nofollow" routerLink="/itemdetail"
                                                                        class="button add_to_cart_button">Add to cart</a>
                                                                </div><!-- /.price-add-to-cart -->

                                                                <div class="hover-area">
                                                                    <div class="action-buttons">

                                                                        <a href="#" rel="nofollow"
                                                                            class="add_to_wishlist"> Wishlist</a>

                                                                        <a routerLink="/compare"
                                                                            class="add-to-compare-link"> Compare</a>
                                                                    </div>
                                                                </div>
                                                            </div><!-- /.product-inner -->
                                                        </div><!-- /.product-outer -->
                                                    </div><!-- /.product -->
                                                </div><!-- /.products -->
                                            </div>
                                        </div>
                                    </section>
                                </div><!-- /.tab-pane -->
                            </div><!-- /.tab-content -->
                        </section><!-- /.products-carousel-tabs -->                        
                    </main><!-- #main -->
                </div><!-- #primary -->
            </div><!-- .container -->
        </div><!-- #content -->

        <app-footer></app-footer>
